<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Learning ReactJS</title>
		<!-- Bootstrap -->
		<link href="/public/css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid" id="content">
		</div>
		<script src="/public/js/main.js"></script>
		<script src="https://www.youtube.com/iframe_api"></script>
	</body>
</html>